<h1>
<%= @game.player1.name %> vs. <%= @game.player2.name %>
</h1>

<h2>
<%= @game.player1.name %>: <%= @game.player1.hp %>HP,
<%= @game.player2.name %>: <%= @game.player2.hp %>HP <br>
</h2>

It's <%= @game.turn.name %>'s turn

  <a href ="/attack">Attack!</a>
